/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  display: flex;
  background-color: #f4f6fc;
  color: #333;
  margin: 0;
  font-size: 14px;
}

span {
  color: rgba(0, 0, 0, 0.5);
}

/* Sidebar */
.sidebar {
  width: 300px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.sidebar__header {
  color: #333;
  display: flex;
  gap: 8px;
  margin-bottom: 64px;
}

.sidebar__header-image {
  width: 37px;
  height: 37px;
}
.sidebar__header-h {
  font-size: 24px;
  font-weight: 500;
}

.sidebar__header-span {
  font-size: 10px;
}

.sidebar__menu-item {
  color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 10px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  transition: background 0.3s;
}
.sidebar__menu-item p {
    display: flex;
    align-items: center;
    gap: 14px;
}

.sidebar__menu-item:hover {
  background-color: #e3f2fd;
  color: rgba(0, 0, 0, 0.5);
}

.sidebar__menu-item--active {
  color: white;
  background-color: #5932ea;
}

.sidebar__menu-item--active:hover {
  color: white;
  background-color: #5932ea;
}

.sidebar__menu-item--active .item-icon,
.sidebar__menu-item--active .dashboard,
.sidebar__menu-item--active .customer,
.sidebar__menu-item--active .income {
  stroke: white;
}

.item-icon {
  fill: #9197b3;
}

.item-icon-stroke {
  stroke: #9197b3;
  fill: transparent;
}

.sidebar__upgrade {
  background: linear-gradient(135deg, #b587e0 30%, #5932ea);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  font-weight: 500;
}

.sidebar__upgrade-btn {
  margin-top: 14px;
  width: 100%;
  background: white;
  border: none;
  border-radius: 100px;
  height: 40px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
  color: #5932ea;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidebar__upgrade-btn:hover {
  transform: scale(1.05); /* Небольшое увеличение */
}

.sidebar__profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.sidebar__profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar__profile span {
  font-size: 12px;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
}

.main-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-content__header h2 {
  font-size: 24px;
  font-weight: 500;
}

.main-content__header-search-bar,
.table-container__form,
.table-container__form-select {
  position: relative;
}

.search-bar__input {
  width: 100%;
  max-width: 216px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 8px 10px 40px;
  font-size: 14px;
  border: none;
  height: 40px;
}

.main-content__header-search-bar span::before,
.table-container__form-search-bar span::before {
  content: url("images/search.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.main-content__summary-cards {
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 30px 0;
  justify-content: center;
  border-radius: 30px;
}

.summary-card {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 70px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.summary-card:last-child {
  border-right: none;
}

.summary-card img {
  width: 80px;
  height: 80px;
}

.summary-card__title {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 14px;
}

.summary-card__number {
  font-size: 28px;
  font-weight: 600;
}

/* Table */
.table-container {
  background-color: #fff;
  border-radius: 30px;
  padding: 40px;
}

.table-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-container__form {
  display: flex;
  height: 40px;
  gap: 14px;
}

.table-container__form input {
  background-color: #f4f6fc;
}

.table-container__form-select span::before {
  content: "Sort by: ";
  width: 60px;
  height: 24px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 55%;
  transform: translateY(-50%);
  left: 8px;
}

.table-container__form-select select {
  width: 100%;
  max-width: 140px;
  background-color: #f4f6fc;
  border-radius: 10px;
  padding: 10px 0px 10px 60px;
  font-size: 14px;
  border: none;
  height: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px 0;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

th {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.status--active {
  color: #4caf50;
  background-color: #e8f5e9;
  padding: 4px 18px;
  border-radius: 5px;
  border: 1px solid #4caf50;
  font-weight: 500;
}

.status--inactive {
  color: #e53935;
  background-color: #ffebee;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e53935;
  font-weight: 500;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__link {
  width: 28px;
  height: 28px;
  background-color: #f4f6fc;
  border: none;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: background 0.3s;
}
.pagination__btn {
  display: flex;
  gap: 12px;
}
.pagination__link:hover {
  background-color: #90caf9;
}

.pagination__link--active {
  background-color: #5932ea;
  color: white;
}

/* Responsive design */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-content {
    padding: 20px;
  }
  .main-content__summary-cards {
    flex-direction: column;
  }
}
